/*
 *= require bootstrap.css
 *= require upmin/models
 *= require upmin/theme
 *= require select2
 *= require select2-bootstrap

 *= require_self
 */

@import url("http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic-ext,latin-ext")

@import "upmin/colors"


body
  background: #f0f3f7
  padding-top: 70px

.page-wrap > .container
  // background: #f8f9fb
  & > .row
    padding: 0px 0px 0
  h4
    white-space: nowrap

.upmin-card
  float: left
  width: 200px
  height: 180px
  overflow: hidden
  margin-right: 10px !important
  text-align: center
  img
    margin: 0 auto

.upmin-model
  background: #fbfcfe
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)
  margin: 0 0 25px
  &.brown
    border-left-color: $brown
    h3
      color: $brown
  h3.properties
    color: #333
  > h3, > h4
    .btn
      // color: white !important

  a.active-tag-link
    display: inline-block
    margin-bottom: 15px

  form[data-remote]
    margin: 0
    position: relative
    .busy
      color: #89a
      z-index: 99999
      & > div
        background: white
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        opacity: 0.85
        z-index: 99999
      i
        position: absolute
        left: 50%
        top: 50%
        margin: -14px 0 0 -12px
        z-index: 99999
  .panel-body.thumbs
    .item
      float: left
      margin: 0 10px 10px 0
      text-align: center
      input
        height: 20px
    a.active-tag-link
      display: block
      margin: 0



