@import "base"

.category_content
  margin: 37px 0 0
  text-align: center
  ul
    list-style: none
    padding: 0
    margin: 0
    // height: 250px
    li
      float: left
      position: relative
      font-size: 18px
      text-align: center
      width: 25%
      margin: 0 0 50px
      padding: 230px 0 0
      .title
        position: absolute
        left: 0
        top: 0
        width: 100%
        text-align: center
        overflow: visible
      .picture
        position: absolute
        top: 42px
        left: 0
        width: 100%
        img
          display: block
          margin: 0 auto
      .price
        font-weight: bold
  .more
    display: inline-block
    font-size: 18px
    height: 38px
    padding: 0px 10px 0
    margin: 0 0 9px
    background: $bg_service
    border: none
    &:focus
      outline: none

section.extra
  .category_content ul li
    margin-bottom: 20px

.product_content
  $pad: 35px
  margin: 26px 0 40px
  min-height: 660px
  & > div
    float: left
    // min-height: 660px
  .catalog_menu
    width: 215px
    .wrapper
      background: image_url("side_menu_border_bg.png") bottom left repeat-x
      // border-bottom: 2px dashed $text_dark
      height: 31px
      &:last-child
        background: none
        // border: none
      a
        display: block
        padding: 6px 0 0
  .gallery
    width: 358px - $pad
  .description
    width: 330px
