@import "base"

.category_content
  margin: 37px 0 0
  text-align: center
  ul
    list-style: none
    padding: 0
    margin: 0
    // height: 250px
    li
      float: left
      position: relative
      font-size: 18px
      text-align: center
      width: 25%
      margin: 0 0 50px
      padding: 230px 0 0
      .title
        position: absolute
        left: 0
        top: 0
        width: 100%
        text-align: center
        overflow: visible
      .picture
        position: absolute
        top: 42px
        left: 0
        width: 100%
        img
          display: block
          margin: 0 auto
      .price
        font-weight: bold
  .more
    display: inline-block
    font-size: 18px
    height: 38px
    padding: 0px 10px 0
    margin: 0 0 9px
    background: $bg_service
    border: none
    &:focus
      outline: none

section.extra
  .category_content ul li
    margin-bottom: 20px

.product_content
  $pad: 35px
  margin: 26px 0 0px
  // min-height: 660px
  & > div
    float: left
    // min-height: 660px
  .catalog_menu
    width: 215px
    margin: 0 0 30px
    .wrapper
      background: image_url("side_menu_border_bg.png") bottom left repeat-x
      // border-bottom: 2px dashed $text_dark
      height: 31px
      &:last-child
        background: none
        // border: none
      a
        display: block
        padding: 6px 0 0
  .gallery
    width: 360px - $pad
    margin-left: $pad
    overflow: hidden
    img
      display: block
      margin: 0 auto
    ul
      $border_size: 1px
      $w: 76px
      $pad: 4px
      $count: 4
      margin: 67px auto 0
      width: ($w + $border_size * 2 + $pad) * $count - $pad
      padding: 0
      list-style: none
      li
        float: left
        margin: 0 $pad 0 0
        padding: 0
        border: $border_size solid #d0d0d0
        border-radius: 2px
        width: $w
        height: 107px
        background-repeat: no-repeat
        background-position: center center
        cursor: pointer
        &:last-child
          margin-right: 0
  .description
    position: relative
    float: right
    width: 330px
    // min-height: 660px
    font-size: 14px
    h1, .price
      font-size: 22px
      color: $text_medium
    h1
      margin: 0 0 7px
      font-weight: normal
    a.url
      font-size: 18px
      display: inline-block
      margin: 0 0 7px
    .tail
      // position: absolute
      // left: 0
      // bottom: 0
      // right: 0
      margin-top: 60px
    .price
      float: left
      padding: 6px 0 0
    a.add_to_cart
      $v_pad: 10px
      float: right
      height: 38px - $v_pad
      padding: $v_pad 15px 0
      font-size: 14px
      text-align: center
      background: #cacaca
      &:hover
        color: #635b59
    p
      .attribute
        display: inline-block
        min-width: 160px
        padding: 0 10px 0 0
        &.secondary
          min-width: 120px


