.product_content
  = render "side_menu"

  .gallery

  .description

  .clear

section.extra
  h2 = t ".product_couples"

  .category_content
    ul data-role="catalog_container"
      = render @document.related_products



/ p#notice = notice

/ p
/   strong Photo:
/   = product_document.photo
/ p
/   strong Name:
/   = product_document.name
/ p
/   strong Factory:
/   = product_document.factory
/ p
/   strong Factory url:
/   = product_document.factory_url
/ p
/   strong Factory country:
/   = product_document.factory_country
/ p
/   strong Description:
/   = product_document.description
/ p
/   strong Fabric:
/   = product_document.fabric
/ p
/   strong Size:
/   = product_document.size
/ p
/   strong Wear pct:
/   = product_document.wear_pct
/ p
/   strong Code:
/   = product_document.code
/ p
/   strong Price:
/   = product_document.price
/ p
/   strong Warranty:
/   = product_document.warranty


